@use "globals";

.chart-legend {
  cursor: move;
  opacity: 1;
}

rect.chart-legend {
  fill-opacity: 1;
}

text.chart-legend {
  font-size: 0.8em;
  font-weight: bold;
  opacity: 1;
}

.legend-action {
  cursor: pointer;
  font-weight: bold;
}
