@use "globals";

table {
  border-collapse: collapse;
  margin: 5px;
  min-width: 200px;
  text-align: left;
  width: 80%;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

td {
  padding: 6px 8px;
}

th {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px 8px;
  position: sticky;
  top: 0;
  z-index: 2;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

.table-scroll {
  overflow-y: auto;
  width: 80%;
}

.mark {
  width: 5px;
}
